.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_body svg {
    width: 25px;
    height: 25px;
}



.icons {
    display: flex;
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  /* Media */
  
  
  
  @media (max-width:1200px) {
    .container{
        max-width: 1160px;
    }
  }
  
  @media (max-width:992px) {
    .container{
        max-width: 952px;
    }
  }
  

    @media (max-width: 767px) {

    .container{
        max-width: 300px;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
    }

   

    .phone, .location {
        position: absolute;
        top: -100%;
    }

    .fixed_header {
        justify-content: space-around;
        width: 100%;
    }

    .cabinet {
        position: absolute;
        top: -100%;
    }

    
} 