.solid {
    width: 100%;
    height: 400px;
    background-color:  #EF841E;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;


}

.container {
    max-width: 1400px;
    margin: 15px auto;
    padding: 0px 15px;
  }
  
  
  /* Media */
  
  
  
  @media (max-width:1200px) {
    .container{
        max-width: 1160px;
    }
  }
  
  @media (max-width:992px) {
    .container{
        max-width: 952px;
    }
  }
  
  @media (max-width:767px) {
    
    .container{
        max-width: 300px;
    }

    .solid {
      margin-top: 300px;
    }

    
  }


  
